/* For Navbar Component */
.navigation {
   height: 60px;
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
   padding: 0.5rem 0rem;
   background-color: #fff;
   color: black;
   box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.brand-name {
   text-decoration: none;
   color: black;
   font-size: 1.3rem;
   margin-left: 1rem;
}

/* mendorong menu ke paling kanan dengan mengambil ruang yang tersedia di sebelah kiri */
.navigation-menu {
   margin-left: auto;
}

/* menata elemen anak dari menu navigasi */
.navigation-menu > ul {
   display: flex;
   padding: 0;
}

.navigation-menu > ul li {
   /* menghapus bullet efek, dan mengatur margin kiri dan kanan*/
   list-style-type: none;
   margin: 0 1rem;
}

.navigation-menu > ul li a {
   /* menghapus garis bawah bawaan */
   text-decoration: none;
   color: gray;
   display: block;
   width: 100%;
}

/* style hamburger menu */
.hamburger {
   /* hapus border bawaan button */
   border: 0;
   height: 40px;
   width: 40px;
   padding: 0.5rem;
   border-radius: 50%;
   background-color: #283b8b;
   cursor: pointer;
   transition: 0.2s ease-in-out;

   /* memposisikan icon ke kanan dan buat rata tengah */
   position: absolute;
   top: 50%;
   right: 25px;
   transform: translateY(-50%);
   display: none;
}
/* menggunakan property position untuk mengatur posisi icon ke sisi kanan navbar */

.hamburger:hover {
   background-color: #2642af;
}

/* atur tampilan untuk mobile */
/* style dibawah ini diterapkan ketika lebar perangkat mencapai 768px atau dibawahnya */
@media screen and (max-width: 768px) {
   /* tamplkan ikon hamburger */
   .hamburger {
      display: block;
   }

   /* sembunyikan element ul */
   .navigation-menu > ul {
      /* atur posisi ul ketika di mode mobile */
      /* karena kita akan menggunakan kelas lain untuk mngatur tampilan menu, maka jadikan tampilannya menjadi tidak ada */
      display: none;
      position: absolute;
      top: 60px;
      left: 0%;

      /* jadika li menjadi vertical */
      flex-direction: column;

      /* atur tinggi dan lebar element */
      width: 100%;
      height: calc(100vh - 77px);
      background-color: white;
      border-top: 1px solid black;
   }

   .navigation-menu .expanded > ul {
      display: block;
   }

   .navigation-menu > ul li {
      /* menjadikan anchor menjadi rata tengah */
      text-align: center;
      margin: 0;
   }

   .navigation-menu > ul li a {
      color: black;
      /* mengatur lebar element */
      width: 100%;
      padding: 1.5rem 0;
   }

   /* mengatur efek hover */
   .navigation-menu > ul li:hover {
      background-color: #eee;
   }
}
