/* default styling */

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: black;
   font-size: 18px;
}

/* navbar */
.navbar {
   background-color: aliceblue;
   padding: 10px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 40px;
   min-height: 70px;
}

/* logo */
.logo {
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
}

/* ul */
.navMenu {
   display: flex;
   justify-content: space-between;
}
